@media only screen and (orientation: portrait) {
    /*.section-two {*/
    /*    !*background-color: red;*!*/
    /*    min-height: 85dvh;*/
    /*}*/
}


@media (min-width: 2100px) {
    .s-header p {
        font-size: 1rem;
    }
    .offer-container h3 {
      font-size: 1.3rem;
    }
    .offer-container p {
        font-size: 0.85rem;
    }

    /*SECTION FOUR*/
    .arrow-left, .arrow-right {
        width: 60px;
        height: 60px;
    }
        /*SECTION FIVE*/
    .card{
        width: 1100px;
        height: 1100px;
    }
    .container-five{
        height: 100%;
    }
    .title{
        font-size: 3.5rem;
        overflow-y: hidden;
    }
    .title span{
        font-size: 4rem;
        overflow-y: hidden;
    }
    .sub-title {
        font-size: 0.9rem;
    }
    /*SECTION SIX*/
    .section-six .map{
        top: 10%;
    }
    .section-five{
        height: auto;
    }
}
@media (max-width: 1536px) {
    .section-two{
        height: auto;
    }
    .s-header h2 {
        font-size: 1.5rem;
    }
    .s-header p{
        font-size: 0.65rem;
    }
    .offer-box p {
        font-size: 0.6rem;
    }
    .offer-image {
        width: 70px;
        height: 70px;
    }
    /*SECTION FOUR*/
    .title  {
        font-size: 2.5rem;
    }
    .rainbow{
        font-size: 2.5rem;
        margin-top: 0;
    }
    .desc{
        margin-left: 150px;
    }
    .card{
        /*top: 20%;*/
        width: 70%;
    }
    .arrows{
        /*top: 25%;*/
        left: 6%;
    }
    /*SECTION FIVE*/
    .section-five{
        height: auto;
    }
    .container-five{
        height: 60%;
    }
    .section-five h1{
        font-size: 40px;
    }
    .section-five p{
        font-size: 0.6rem;
        max-width: 60%;
    }
    .c-btn{
        width: 20%;
    }
    /*SECTION SIX*/
    .section-six{
        height: auto;
    }
    .section-six .map {
        right: 3%;
        top: 0;
        width: 600px;
        height: 470px;
    }
    .section-six  p{
        padding-left: 150px;
        font-size: 25px;
    }
    .section-six h1{
        padding-left: 150px;
        font-size: 35px;
    }
}
@media (max-width: 1280px) {
    .s-header h2 {
        font-size: 1.4rem;
    }
    .offer-box p {
        font-size: 0.5rem;
    }
    /*SECTION FOUR*/
    /*.left{*/
    /*    height: 60dvh;*/
    /*}*/
    /*.right{*/
    /*    height: 60dvh;*/
    /*}*/
    .card{
        padding-top: 0;
        width: 55%;
        /*height: 500px;*/
    }
    .title{
        font-size: 2rem;
    }
    .rainbow{
        font-size: 2.2rem;
        margin-top: 0;

    }
    .sub-title{
        font-size: 0.6rem;
        font-weight: 500;
    }
    .arrows{
        padding-left: 100px;
    }

    /*SECTION FIVE*/
    .c-btn{
        width: 20%;
    }
    .wrapper{
        padding-top: 1rem;
    }
    /*SECTION SIX*/
    .section-six .map {
        right: 3%;
        top: 0;
    }

    }
@media (max-width: 1024px) {
    .s-header p {
        width: 70%;
    }
    .full-text {
        display: none;
    }
    .short-text {
        display: block;
    }
    .ultra-short-text{
        display: none;
    }
    .offer-container{
        margin: 0 80px;
    }
    .s-header h2 {
        font-size: 1.2rem;
    }
    .offer-box h3{
        font-size: 0.7rem;
    }
    .offer-box p{
        font-size: 0.6rem;
    }
    .offer-image{
        width: 60px;
        height: 60px;
    }
    /*SECTION FOUR*/
    .desc{
        margin-left: 100px;
    }
    .card{
        width: 55%;
        /*height: 500px;*/
    }
    .arrows{
       padding-left: 200px;
    }
    .title{
        font-size: 2.1rem;
    }
    .rainbow{
        font-size: 2.3rem;
    }
    /*SECTION FIVE*/
    .c-btn{
        width: 22%;
    }
    /*SECTION SIX*/
    .section-six .map {
        width: 400px;
        height: 350px;
        right: 3%;
        top: 10%;
    }
    .section-six h1 {
        font-size: 30px;
        padding-left: 20px;
    }
    .section-six  p{
        padding-left: 20px;
        color: #000000;
        font-size: 15px;
    }
}
@media (max-width: 930px) {
    .section-four{
        height: 110dvh;
    }
    .stack-area{
        flex-direction: column;
        height: auto;
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .arrows{
        padding-left: 0;
        top: -10%;
        left: 0;
    }

}
@media (max-width: 768px) {
    .offer-container{
        margin: 0 50px;
    }
    .section-two{
        height: auto;
    }
    .full-text,.short-text,.ultra-short-text{
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .offer-container {
        flex-direction: column;
    }
    .s-header h2 {
        font-size: 1.4rem;
        font-weight: 600;
    }
    .s-header p{
        font-weight: 450;
        font-size: 0.75rem;
        width: 80%;
    }
    .s-header hr{
        margin-top: 40px;
    }
    .offer-box h3{
        font-size: 1rem;
    }
    .offer-box p {
        font-size: 0.6rem;
        font-weight: 450;
        width: 60%;
    }
    .offer-image{
        height: 55px;
        width: 55px;
        margin-bottom: 20px;
    }
    /*SECTION THREE*/
    .section-three{
        height: auto;
    }
    .text-overlay{
        top: 40%;
    }
    .swiper-button-next, .swiper-button-prev{
        top: 45%
    }
    .gal{
        height: 750px;
    }
    /*SECTION FOUR*/
    .card{
        width: 400px;
        /*height: 500px;*/
    }
    .stack-area{
        flex-direction: column;
        height: auto;
    }
    .desc{
        margin-left: 50px;
        /*top: 80%;*/
    }
    .sub-title{
        width: 350px;
        font-size: 0.60rem;
        font-weight: 500;
    }
    .arrows{
        padding-left: 0;
        top: -10%;
        left: 0;

    }
    .title{
        font-size: 1.5rem;
    }
    .rainbow{
        font-size: 1.7rem;
    }
    .dot-container {
        right: -5%;
    }
    /*SECTION FIVE*/
    .section-five{
        height: auto;
    }
    .container-five{
        height: 65%;
    }
    .c-btn{
        width: 30%;
    }
}

@media (max-width: 640px) {
    .s-header h2 {
        font-size: 1rem;
    }
    .offer-image{
        height: 55px;
        width: 55px;
    }
    /*SECTION FOUR*/
    .card{
        width: 100%;
        /*height: 500px;*/
    }
    .arrows{
        padding-left: 0;
        top: -10%;
        left: 15%;
    }
    /*SECTION FIVE*/
    .c-btn{
        width: 35%;
    }
}
@media (max-width: 475px) {
    .section-two{
        height: auto;
    }
    .s-header h2 {
        font-size: 0.9rem;
    }
    .s-header p{
        font-size: 0.45rem;

    }
    .offer-container{
        margin: 0 10px;
    }
    .offer-image{
        height: 55px;
        width: 55px;
        margin-bottom: 10px;
    }
    .s-header p {
        font-size: 0.55rem;
        width: 80%;
    }
    .offer-box h3{
        font-size: 0.79rem;
    }
    .offer-box p{
        font-size: 0.53rem;
    }
    .s-header {
        padding: 55px 0;
    }
    /*SECTION FOUR*/
    .card{
        width: 350px;
        height: 350px;
        /*height: 500px;*/
    }
    .arrows{
        padding-left: 0;
        top: -10%;
        left: 30%;
    }
    .arrow-left, .arrow-right {
        padding: 8px 8px;
        width: 35px;
        height: 35px;
    }

    /*SECTION FIVE*/
    .section-five{
        height: auto;
    }
    .container-five{
        height: 60%;
    }
    .c-btn{
        width: 60%;
    }
    .l-text{
        display: none;
    }
    .s-text{
        display: block;
    }

}
@media (max-width: 425px) {
    /*SECTION TWO*/
    .section-two{
        height: auto;
    }
    /*.full-text,.short-text {*/
    /*    width: 80%;*/
    /*    display: none;*/
    /*}*/
    /*.ultra-short-text{*/
    /*    display: block;*/
    /*    width: 50%;*/
    /*}*/
    /*.s-header p {*/
    /*    width: 100%;*/
    /*}*/
    .offer-box h3{
        font-size: 0.5rem;
    }
    /*SECTION THREE*/
    .swiper{
        width: 100%;
    }
    /*SECTION FOUR*/
    .section-four{
        height: 85dvh;
    }
    .stack-area{
        flex-direction: column;
        height: auto;
    }
    .left{
        height: auto;
    }
    .card{
        margin-top: -150px;
        width: 350px;
        height: 350px;
    }

    .desc{
        margin-left: 50px;
        top: 15%;
    }
    .arrows{
        top: -25%;
        left: 90%;
    }
    .sub-title{
        width: 90%;
    }
    .title{
        font-size: 1.5rem;
    }
    .rainbow{
        font-size: 1.8rem;
    }
    .dot-container {
        right: -5%;
    }
    /*SECTION FIVE*/
    .section-five p{
        font-weight: 500;
    }
    .s-text{
        display: block;
    }
    .l-text{
        display: none;
    }
    /*SECTION SIX*/
    .section-six{
        height: auto;
    }
    .section-six .map {
        top: 50%;
    }
    .section-five p {
        font-size: 0.5rem;
        max-width: 75%;
        }
    }
@media (max-width: 375px) {

    .offer-box h3{
        font-size: 0.55rem;
    }
    .offer-box p{
        font-size: 0.4rem;
    }
    /*SECTION FOUR*/
    .title{
        font-size: 1.5rem;
    }
    .rainbow{
        font-size: 1.6rem;
    }
    .section-six .map{
        width: 300px;
        height: 300px;
        right: 12%;
    }
}
@media (max-width: 320px) {
    .offer-box h3{
        font-size: 0.55rem;
    }
    .offer-box p{
        font-size: 0.4rem;
    }
    /*SECTION FOUR*/
    .title{
        font-size: 1.25rem;
    }
    .rainbow{
        font-size: 1.4rem;
    }
    .card{
        width: 300px;
        height: 300px;
        /*height: 500px;*/
    }
    /*SECTION FIVE*/

    .c-btn{
        width: 85%;
    }
    .section-five p {
        font-size: 0.5rem;
        max-width: 80%;
    }
    .section-six .map{
        right: 4%;
    }
}

