@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background-image: url("../images/background.png");*/
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.section-one {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    /*overflow: hidden;*/
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
}

.section-one h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: clamp(1rem, 5vw, 5rem); /* Responsive font size */
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    margin: 0; /* Remove default margin */
    z-index: 3;
}


.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    /*max-width: 100%;*/
    max-height: 100%;
    overflow: hidden;
    z-index: -1;
}

.back-video {
    filter: brightness(50%);
    display: block;
    /*max-width: 100%;*/
    max-height: 100%;
    /*width: auto;*/
    /*height: auto;*/
    object-fit: cover;
}


@media (min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}
@media (aspect-ratio:9/16) {
    .video-wrapper {
        width: auto;
        height: 100%;
        /*transform-origin: center; !* Ensure scaling is centered *!*/
    }
    .back-video {
        width: 20%;
        height: 20%;
    }
}

.section-two {
    background-color: white;
    height: 65dvh;
}

.offer-container {
    display: flex;
    justify-content: center;
    gap: clamp(20px, 5vw, 100px); /* Responsive gap */
    text-align: center;
    margin: 0 40px;
}
.s-header{
    padding: clamp(20px, 3rem, 120px);
    margin: 0 auto;
    width: fit-content;
}
.s-header h2{
    font-size: clamp(1rem, 5vw, 2rem); /* Responsive font size */
    margin: 0 auto;
    width: fit-content;
}
.s-header p{
    margin: 5px auto;
    max-width: clamp(200px, 50%, 680px); /* Responsive width */
    text-align: center;
    font-size: clamp(0.8rem, 3vw, 1.2rem); /* Responsive font size */
}

.s-header hr{
    height: 3px;
    border-width: 0;
    color: #ff0000;
    background-color:#ff0000;
    /*margin: 40px auto;*/
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    border-radius: 50px; /* Makes the edges rounded */

}
.offer-image {
    /*margin-top: 20px;*/
    width: clamp(20px, 80px, 40px);
    height: clamp(20px, 80px, 40px);
    margin-bottom: clamp(10px, 40px, 20px);
}

.offer-container h3 {
    color: #333;
}

.offer-container p {
    color: #666;
    font-size: clamp(0.4rem, 2vw, 1.2rem); /* Responsive font size */
}

.section-three {
    background-image: url("../images/background4.jpg");
    height: 100dvh;
    position: relative; /* Ensure it stays in the document flow */
    z-index: 1; /* Higher index so it remains visible */
}
.btn-left,.btn-right{
    position: absolute;
    z-index: 3;
    background: rgba(224, 224, 227, 0.43);  /* Gradient for richness */
    color: #626264  ;
    padding: 12px 12px;
    border-radius: 50%;  /* Makes them circular */
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    width: 45px;
    height: 45px;
    margin-right: 5px;  /* Space between arrows */
    transition: transform 0.6s ease, box-shadow 0.3s ease;
}

.btn-left:hover,.btn-right:hover {
    transform: scale(1.1);  /* Slight zoom effect on hover */
    background: rgba(224, 224, 227, 0.85);  /* Gradient for richness */
}
.btn-right{
    position: absolute;
    z-index: 3;
    right: 0.5%;
    top: 50%;
}
.btn-left{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 1%;
}

.gallery{
    position: relative;
    grid-template-columns: 60px 60px;
    margin: 0 auto;
    width: fit-content;
}
.section-three h1{
    padding-top: 50px;
    margin: 0 auto;
    justify-content: center;
    width: fit-content;
    color: #ffffff;
    font-size: 40px;
}
.gallery-item {
    position: relative;
    /*display: inline-block;*/
    margin-top: 60px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    height: 640px;
    transition: transform 0.5s ease;
}

.gal{
    width: 100%;
    height: 100%;
    filter: grayscale(100%) brightness(50%);
    transition: filter 0.5s ease;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination {
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-color: red;
    position: absolute;
    /*top: 100px; !* Adjust this value to position it as needed *!*/
    /*left: 50%; !* Center horizontally *!*/
    /*transform: translateX(-50%); !* Center horizontally *!*/
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 5px;
    z-index: 10; /* Ensure it stays above the slides */
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.6s ease;
}


.gallery-item:hover .gal {
    filter: grayscale(0%) brightness(100%);
}

.gallery-item:hover .text-overlay {
    opacity: 0;
}

.gallery-item:hover {
    transform: scale(1.03);
    z-index: 2;
}


.section-four {
    position: relative; /* Make sure the parent is positioned relative */
    background-color: white;
    height: 100dvh; /* Full viewport height */
    /*width: 100%;*/
    /*position: relative;*/
}

.stack-area {
    width: 100%;
    height: 100dvh;
    /*position: relative;*/
    background: white;
    display: flex;
}
.left {
    height: 100dvh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right {
    height: 100dvh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
}
.title {
    width: 420px;
    font-size: 84px;
    font-weight: 700;
    line-height: 88px;
}
.sub-title {
    width: 420px;
    font-size: 14px;
    margin-top: 30px;
}
.sub-title button {
    text-align: left;
    font-size: 14px;
    padding: 15px 30px;
    background: black;
    color: white;
    border-radius: 8mm;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
.card {
    width: 750px;
    height: 750px;
    position: absolute;
    padding-top: 150px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: scale(0.9);
}
.dof_h3,.sensation,.pimax {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc {
    position: absolute;
    margin-left: 350px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1 !important;
    z-index: 10;
}

.fade-out {
    opacity: 0 !important;
    z-index: 1;
}

.rainbow {
    background-image: linear-gradient(90deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffd5, #0047ff, #7a00ff, #ff00b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    display: inline-block;
    animation: rainbow 14s linear infinite;
    background-size: 200% 100%;
}

@keyframes rainbow {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}
.arrows {
    padding: 10px 10px;
    position: relative;
    top: 20%;
    left: -26.7%; /* Align arrows to the left */
    display: flex;
    z-index: 1000; /* Ensure they stay above other content */
    justify-content: flex-start; /* Align arrows to the left */
    border: 2px #333333;
}

.arrow-left, .arrow-right {
    background: #e0e0e3;  /* Gradient for richness */
    color: #626264  ;
    padding: 12px 12px;
    border-radius: 50%;  /* Makes them circular */
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    width: 45px;
    height: 45px;
    margin-right: 5px;  /* Space between arrows */
    transition: transform 0.6s ease, box-shadow 0.3s ease;  /* Smooth hover effects */

}

.arrow-left:hover,.arrow-right:hover                                                 {
    transform: scale(1.1);  /* Slight zoom effect on hover */
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.15);  /* Enhance shadow on hover */
}

/*.arrow-left {*/
/*    margin-right: 5px;  !* Space between arrows *!*/
/*}*/

.arrow-right {
    margin-left: 5px;
}
.dot-container {
    position: absolute;
    top: 50%; /* Keep the container vertically centered */
    right: 3%; /* Adjust this value to move it more towards the right */
    transform: translateY(-50%); /* Keep it vertically aligned at the center */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between dots */
    z-index: 1000; /* Ensure it stays on top */
}
.dot {
    height: 16px;
    width: 16px;
    background-color: rgba(204, 204, 204, 0.5);
    border-radius: 50%;
}
.dot.active {
    background-color: rgba(82, 82, 82, 0.5);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.section-five {
    height: 80dvh;
    background-color: #f5f5f5;
    position: relative;
    z-index: 2;
    padding-top: 5%;

}
.section-five .container {
    position: relative;
    margin: 50px auto 20px auto;
    width: 100%;
    height: 70%;
    background-color: white;
    border: 6px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-five .description{
    padding-top: 100px;
}

.section-five h1{
    padding-top: 50px;
    text-align: center;
    color: #000000;
    font-size: 40px;
}
.section-five p{
    font-size: 1.2rem;
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
}

:root {
    --color-dark: #110d1a;
    --color-primary: #fc3939;
    accent-color: var(--color-primary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    padding-top: 4rem;
}
.c-btn {
    position: relative;
    overflow: hidden;
    padding: 0.85rem 2rem;
    display: flex;
    width: 8%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--color-primary);
    transition: transform 0.3s;
}
.c-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 120%;
    width: 120%;
    border-radius: 20%;
    background-color: var(--color-primary);
    scale: 0 0;
    translate: 0 140%;
    transition: scale 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), translate 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.c-btn__label {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    transition: color 0.6s ease-in-out;
    z-index: 2;
}
.c-btn:hover span {
    color: var(--color-dark);
}
.c-btn:hover::after {
    scale: 1.5 1.5;
    translate: 0 0;
    border-radius: 50%;
}
.section-six{
    height: 70dvh;
    background-color: #f5f5f5;
    position: relative;
    z-index: 2;
    padding-top: 5%;
}
.section-six h1{
    padding-top: 0px;
    padding-left: 150px;
    color: #000000;
    font-size: 40px;
}
.section-six .map{
    position: absolute;
    top: 12%;
    right: 10%;
    border-radius: 35px;
    width: 600px;
    height: 470px;
}
.section-six .opis{
    padding-top: 100px;
}
.section-six  p{
    padding-top: 20px;
    padding-left: 150px;
    color: #000000;
    font-size: 20px;
}

