@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color-dark: #110d1a;
    --color-primary: #fc3939;
    --swiper-theme-color: #ff0000;
    accent-color: var(--color-primary);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    /*overflow-x: hidden;*/
}

body{
    /*background-image: url("../images/background.png");*/
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    font-size: 30px;
    height: 100%;
}


.section-one {
    position: relative;
    width: 100%;
    height: 100dvh;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
}

.section-one h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: clamp(1rem, 5vw, 5rem); /* Responsive font size */
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    margin: 0; /* Remove default margin */
    z-index: 3;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    /*max-width: 100%;*/
    max-height: 100%;
    overflow: hidden;
    z-index: -1;
}

.back-video {
    filter: brightness(50%);
    display: block;
    /*max-width: 100%;*/
    max-height: 100%;
    /*width: auto;*/
    /*height: auto;*/
    object-fit: cover;
}

.section-two {
    background-color: white;
    height: 70dvh;
    min-height: 40dvh;
    width: 100%;
}
.full-text{
    display: block;
}
.short-text,.ultra-short-text{
    display: none;
}

.s-header{
    padding: 75px;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}
.offer-container {
    display: flex;
    justify-content: center;
    text-align: center;
    /*width: 80%;*/
    margin: 0 60px;
}
.offer-box {
    display: flex;
    flex-direction: column; /* Stack elements inside offer-box vertically */
    align-items: center; /* Center-align all child elements horizontally */
    text-align: center;
    margin-bottom: 50px;

}
/*.full-text,.short-text,.ultra-short-text{*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 70%;*/
/*}*/
.s-header h2{

    font-size: 2vw;
    margin: 0 auto;
    width: fit-content;
}
.s-header p{
    font-weight: 500;
    margin: 10px auto;
    width: 50%;
    font-size: 1.2vw;
}

.s-header hr{
    height: 3px;
    border-width: 0;
    color: #ff0000;
    background-color:#ff0000;
    /*margin: 40px auto;*/
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    border-radius: 50px; /* Makes the edges rounded */
}

.offer-image {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

.offer-container h3 {
    font-weight: 500;
    font-size: 1.5vw;
    color: #333;
}

.offer-container p {
    font-weight: 400;
    color: #666;
    font-size: 0.55rem;
    width: 80%;
}

.section-three {
    background-image: url("../images/background5.jpg");
    /*height: 100dvh;*/
    width: 100%;
    overflow: hidden;
}

.section-three h1{
    padding-top: 50px;
    margin: 0 auto;
    justify-content: center;
    width: fit-content;
    color: #ffffff;
    font-size: 40px;
    overflow-y: hidden; /* Prevents scrolling */
}
/*.swiper-button-next, .swiper-button-prev {*/
/*    background: rgba(224, 224, 227, 0.6);*/
/*    color: #494949;*/
/*    border-radius: 50%;*/
/*    cursor: pointer;*/
/*    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;*/
/*}*/
/*.swiper-button-next:hover, .swiper-button-prev:hover {*/
/*    background: rgba(255, 255, 255, 0.85);*/
/*    color: #111111;*/
/*    transform: scale(1.15);*/
/*}*/
.mySwiper{
    padding-top: 100px;

}
.swiper {
    width: 98%;
    margin-bottom: 50px;
}

.swiper-css-mode > .swiper-wrapper {
    overflow: hidden; !important;
    scroll-behavior: auto;
}
.gal {
    width: 100%;
    height: 1000px;
    /*height: auto;*/
    object-fit: cover;
    filter: grayscale(100%) brightness(50%);
    transition: filter 0.6s ease;
    /*overflow-y: hidden;*/
}

/*.btn-left, .btn-right {*/
/*    position: absolute;*/
/*    z-index: 3;*/
/*    top: 50%;*/
/*    !*transform: translateY(-50%);*!*/
/*    background: rgba(224, 224, 227, 0.6);*/
/*    color: #626264;*/
/*    border-radius: 50%;*/
/*    cursor: pointer;*/
/*    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.btn-left { left: 2%; }*/
/*.btn-right { right: 2%; }*/

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: opacity 0.6s ease;
    overflow: hidden;

}
.swiper-slide:hover .gal {
    overflow: hidden;

    filter: grayscale(0%) brightness(100%);
}

.swiper-slide:hover .text-overlay {
    overflow: hidden;

    opacity: 0;
}

.swiper-slide:hover {
    overflow: hidden;

    transform: scale(1.03);
    z-index: 2;
}


.section-four {
    position: relative; /* Make sure the parent is positioned relative */
    background-color: white;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    height: 100dvh;

}

.stack-area {
    width: 100%;
    background: white;
    /*height: 100%;*/
    display: flex;
}
.left,.right {
    height: 100%;
    flex: 1;
    position: relative;
    display: flex;
    min-width: 0; /* Prevent content from forcing sections to be larger */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.desc {
    position: absolute;
    margin-left: 250px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.title {
    z-index: 5;

    height: auto;
    overflow-y: hidden;
    /*width: 800px;*/
    font-size: 3.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column; /* Each word on a new line */
    text-align: left; /* Align text if needed */
    margin-bottom: 0; /* Remove default margin */
}

.rainbow {
    z-index: 5;
    margin-top: -30px;
    /*z-index: 100;*/
    background-image: linear-gradient(90deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffd5, #0047ff, #7a00ff, #ff00b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    display: inline-block;
    animation: rainbow 14s linear infinite;
    background-size: 200% 100%;
    font-size: 3.7rem;
    overflow-y: hidden;
    overflow-x: hidden;
}
.title span {
    display: inline-block;
    white-space: nowrap;
}
.sub-title {
    width: 480px;
    font-size: 0.65rem;
    font-weight: 600;
    margin-top: 30px;
}

.fade-in {
    opacity: 1 !important;
    z-index: 10;
}

.fade-out {
    opacity: 0 !important;
    z-index: 1;
}


@keyframes rainbow {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}
.sub-title button {
    text-align: left;
    font-size: 14px;
    padding: 15px 30px;
    background: black;
    color: white;
    border-radius: 8mm;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
/*.card {*/
/*    object-fit: contain; !* Ensures the whole image stays visible *!*/
/*    width: 900px;*/
/*    height: 900px;*/
/*    position: absolute;*/
/*    padding-top: 150px;*/
/*    justify-content: center;*/
/*    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;*/
/*    opacity: 0;*/
/*    transform: scale(0.9);*/
/*    overflow-y: hidden;*/
/*}*/
.card {
    z-index: 3;
    object-fit: contain; /* Ensures the whole image stays visible */
    width: 100%;
    position: absolute;
    height: 70%;
    /*height: 900px;*/
    /*position: absolute;*/
    /*padding-top: 150px;*/
    /*justify-content: center;*/
    /*transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;*/
    /*opacity: 0;*/
    /*transform: scale(0.9);*/
    /*overflow-y: hidden;*/
}
.dof_h3,.sensation,.pimax {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.arrows {
    display: flex; /* Flexbox for alignment */
    justify-content: center; /* Center arrows horizontally */
    gap: 10px; /* Space between arrows */
    margin-top: 450px; /* Push arrows to the bottom of the container */
    margin-left: -550px;
    position: relative; /* Keep arrows in normal document flow */

}


/*.arrows {*/
/*    padding: 10px 10px;*/
/*    !*position: relative;*!*/
/*    !*top: 25%;*!*/
/*    !*left: -24%; !* Align arrows to the left *!*!*/
/*    !*display: flex;*!*/
/*    z-index: 1000; !* Ensure they stay above other content *!*/
/*    justify-content: space-between;*/
/*    border: 2px #333333;*/
/*}*/

.arrow-left, .arrow-right {
    background: #e0e0e3;  /* Gradient for richness */
    color: #626264  ;
    padding: 12px 12px;
    border-radius: 50%;  /* Makes them circular */
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    width: 45px;
    height: 45px;
    z-index: 1001;
    margin-right: 5px;  /* Space between arrows */
    transition: transform 0.6s ease, box-shadow 0.3s ease;  /* Smooth hover effects */
}

.arrow-left:hover,.arrow-right:hover                                                 {
    transform: scale(1.1);  /* Slight zoom effect on hover */
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.15);  /* Enhance shadow on hover */
}
.arrow-right {
    margin-left: 5px;
}
.dot-container {
    position: absolute;
    top: 50%; /* Keep the container vertically centered */
    right: 3%; /* Adjust this value to move it more towards the right */
    transform: translateY(-50%); /* Keep it vertically aligned at the center */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between dots */
    z-index: 1000; /* Ensure it stays on top */
}
.dot {
    height: 16px;
    width: 16px;
    background-color: rgba(204, 204, 204, 0.5);
    border-radius: 50%;
}
.dot.active {
    background-color: rgba(82, 82, 82, 0.5);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.section-five {
    height: 100dvh;
    background-color: #f5f5f5;
    /*position: relative;*/
    z-index: 2;
    padding-top: 5%;
    overflow-y: hidden;
}

.s-text{
    display: none;
}
.l-text{
    display: block;
}
.full-text-kontakt{
    display: block;
}
.short-text-kontakt{
    display: none;
}
.container-five {
    /*position: relative;*/
    margin: 50px auto 20px auto;
    width: 100%;
    /*max-height: 100%;*/
    height: 65%;
    background-color: white;
    border: 6px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    font-weight: 500;

}
.section-five .description{
    padding-top: 50px;

}

.section-five h1{
    padding-top: 50px;
    text-align: center;
    color: #000000;
    font-size: 40px;
}

.section-five p{
    font-size: 0.8rem;
    text-align: center;
    max-width: 40%;
    margin:  auto;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    padding-top: 2rem;
}
.c-btn {
    /*position: relative;*/
    overflow: hidden;
    padding: 0.85rem 2rem;
    display: flex;
    width: 15%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--color-primary);
    transition: transform 0.3s;
    overflow-y: hidden;
}
/*.c-btn::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 120%;*/
/*    width: 120%;*/
/*    border-radius: 20%;*/
/*    background-color: var(--color-primary);*/
/*    scale: 0 0;*/
/*    translate: 0 140%;*/
/*    transition: scale 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), translate 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);*/
/*}*/
.c-btn__label {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.7rem;
    letter-spacing: 0.025em;
    transition: color 0.6s ease-in-out;
    z-index: 2;
}
/*.c-btn:hover span {*/
/*    color: var(--color-dark);*/
/*}*/
/*.c-btn:hover::after {*/
/*    scale: 1.5 1.5;*/
/*    translate: 0 0;*/
/*    border-radius: 50%;*/
/*}*/
.section-six{
    overflow-y: hidden;
    height: 70dvh;
    background-color: #f5f5f5;
    position: relative;
    z-index: 2;
    padding-top: 5%;
}
.section-six h1{
    padding-top: 0px;
    padding-left: 250px;
    color: #000000;
    font-size: 45px;
}
.section-six .map{
    position: absolute;
    top: 1%;
    right: 10%;
    border-radius: 35px;
    width: 800px;
    height: 570px;
}
.section-six .opis{
    padding-top: 100px;
}
.section-six  p{
    padding-top: 20px;
    padding-left: 250px;
    color: #000000;
    font-size: 30px;
}

